<%- partial ('navbar.ejs') %>

<div id="header" class="jumbotron page-info text-center">
  <div class="col-sm-12"><h1>{viet:api}</h1>
    <p>Trang web hỗ trợ các bạn làm web xem phim, bạn có thể lấy dữ liệu về phim từ IMDB ,
      lấy link phim từ 1 số website xem phim hiện nay, định dạng trả về là JSON cho dân lập trình,
    ngoài ra website cũng cung cấp bộ công cụ cho những bạn không biết lập trình.</p>
    <a class="btn btn-default button-go" href="#">
      <i class="fa fa-sign-in fa-lg"></i> Tìm hiểu ngay version 1.0</a>
  </div>
</div>
<div id="more-info" class="container">
  <div class="col-sm-6 col-xs-6 col-lg-6 text-center">
    <a href="/page/dev">
    <div class="section">
      <img src="images/devicon.png" class="img-thumbnail img-circle" width="200">
      <h3>LẬP TRÌNH VIÊN</h3>
      <p>Bạn có thể sử dụng hoàn toàn miễn phí API mà chúng tôi cung cấp, dữ liệu trả về là dạng JSON</p>
    </div>
    </a>
  </div>
  <div class="col-sm-6 col-xs-6 col-lg-6 text-center">
    <a href="/page/user">
    <div class="section">
      <img src="images/usericon.png" class="img-thumbnail img-circle" width="200">
      <h3>NGƯỜI SỬ DỤNG</h3>
      <p>Nếu không rành về lập trình bạn vẫn có thể sử dụng tool do VietAPI cung cấp để lấy dữ về web</p>
    </div>
    </a>
  </div>
</div>

<footer class="container-fluid">

</footer>
